streamlit
pandas
plotly
pytz
st-gsheets-connection
reportlab
streamlit-drawable-canvas==0.9.3
Pillow
openpyxl
qrcode
oauth2client
gspread
google-api-python-client
google-auth
google-auth-oauthlib
